*.swp
.hypothesis

# Intermediate build files
tohil.o

# Build output
libtohil*.so
libtohil*.dylib

# files substituted from .in versions
Makefile
setup.py
configure
pkgIndex.tcl

autom4te.cache
config.log
config.status

build
dist

venv

pysrc/tohil.egg-info/
tests/__pycache__/
