# This is a basic workflow to help you get started with Actions

name: Linux CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install dependencies	
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y python3-dev python3-pip tcl8.6-dev

      - name: configure	
        run: |
          autoreconf
          ./configure --with-tcl=/usr/lib/tcl8.6 --with-python-include=/usr/include/python3.8m --with-python-lib=/usr/lib --with-python-version=3.8m

      - name: make	
        run: |
          ls -l /usr/include/python3*
          make
          sudo make install

      - name: test
        run: |
          make test
